#navigation{
    background: #000000;
}

#navbarDropdown{
    color: #FFFFFF;
    font-size: 20px;
}
#imageFrontPage {
    height: 75px;
}

#aboutUs{
    color: #FFFFFF;
    position: relative;
    right: 40px;
    font-size: 20px;
}

#courses{
    color: #FFFFFF;
    position: relative;
    right: 90px;
    font-size: 20px;
}

#users{
    color: #FFFFFF;
    position: relative;
    right: 10px;
    font-size: 20px;
}

footer {
    background: black;
    color:white;
}

ul{
    list-style: none;
}

.subtitlesend {
    font-size: 20px;
}

.pointsend {
    font-size: 12px;
}

#lowerLogo {
    height: 150px;
}
#instaIcon {
    height: 50px;
}
#twitterIcon {
    height: 50px;
}
#facebookIcon {
    height: 40px;
}