.bodyPopUp {
    background-color: pink;
    display:flex;
    align-items: center;
    justify-content:center;
    margin:0;
}

.modal_container{
    display:flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left:0;
    height:100vh;
    width:100vw;
    z-index:9999;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.info {
    background-color: white;
    width: 600px;
    max-width: 80%;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}