@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap%27');

* {
    font-family: 'Poppins', sans-serif;
}

header {
  height:500px;
  background-image: url('/images/listCourses.jpg');
  background-repeat: no-repeat;
  background-size: 1400px 550px;
  background-position-x:center;
  background-position-y:center;
}

courses {
    font-size:90px;
    color:white;
    font-family:courier;
    position:relative;
    left: 90px;
    bottom:20px;
}

it {
    font-size:70px;
    color:white;
    font-family:courier;
    position:relative;
    left:30px;
    bottom:40px;
}

hr {
    max-width: 75%;
    height: 8px;
    background-color: black;
    position: relative;
    left: 175px;
}

.card-img-top {
    height:200px;
}

#buttonAdd {
    position: relative;
    left: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.8);
}


.card {
    border-radius: 10px;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.8);
}

.card-text {
    display:flex;
    justify-content: space-between;
}

#trash{
    height: 30px;
}