@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap%27');

* {
    font-family: 'Poppins', sans-serif;
}

header {
  height:550px;
  background-image: url('/images/listaCursos.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x:center;
  background-position-y:center;
}

cursos {
    font-size:90px;
    color:white;
    font-family:courier;
    position:relative;
    right:160px;
    bottom:20px;
}

informatica {
    font-size:90px;
    color:white;
    font-family:courier;
    position:relative;
    right:80px;
    bottom:40px;
}

#image {
    height:200px;
}

#buttonAdd {
    position: relative;
    left: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.8);
}

.card {
    border-radius: 10px;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

.card-text {
    display:flex;
    justify-content: space-between;
}

#trash{
    height: 30px;
}