/* funcionamiento básico */
.tab-content {
  display: none;
}

.tab:target .tab-content, .tab:last-of-type .tab-content {
  display: block;
}

.tab:target ~ .tab:last-of-type .tab-content {
  display: none;
}

/* parámetros para configurar las pestañas */
:root {
  //--tabs-border-color: #ABCDEF;
  --tabs-border-color: #012345;
  --tabs-border-size: 3px;
  --tabs-dark-color: #012345;
  //--tabs-lite-color: #345678;
  --tabs-lite-color: white;
  --tabs-width: 120px;
  --tabs-height: 40px;
}

/* aspecto básico */
body {
  font-family: sans-serif;
  line-height: 1.2;
}
h2, p {
  margin: 0;
}
a.link {
    color: black;
}
/*
.tabs a {
  text-decoration: none;
}
.tabs a:active {
    color: black;
}
*/
.tabs * {
  box-sizing: border-box;
}

/* esto es para posicionar las pestañas correctamente */
.tab-container {
  position: relative;
  padding-top: var(--tabs-height); /* en esta zona colocaremos las pestañas */
}
#tab1>a { --tabs-position: 0; }
#tab2>a { --tabs-position: 1; }
.tab>a {
  text-align: center;
  position: absolute;
  width: calc(var(--tabs-width));
  height: calc(var(--tabs-height) + var(--tabs-border-size));
  top: 0;
  left: calc(var(--tabs-width) * var(--tabs-position)); /* posición de cada pestaña */
}

/* más aspecto */
.tabs {
  padding: 10px;
  color: var(--tabs-text-color);
}
.tab-content {
  background-color: var(--tabs-lite-color);
  padding: 20px;
  border: var(--tabs-border-size) solid var(--tabs-border-color);
  border-radius: 0 0 10px 10px;
  position: relative;
  z-index: 100;
}
.tab>a {
  background-color: var(--tabs-dark-color);
  padding: 10px;
  border: var(--tabs-border-size) solid var(--tabs-border-color);
  border-radius: 10px 10px 0 0;
  border-bottom: 0;
}
.tab:target>a, .tab:last-of-type>a {
  background-color: var(--tabs-lite-color);
  z-index: 200;
}
.tab:target ~ .tab:last-of-type>a {
  background-color: var(--tabs-dark-color);
  z-index: 0;
}
