@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap%27');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom left, #3C71E3, 50%, #A937E7);
}


table,td {
	border: 2px solid black;
}

table {
    width: 100%;
    background: white;
}

#trash{
    height: 30px;
}

#buttonAdd {
    position: relative;
    left: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.8);
}